@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slick Carousel CSS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  line-height: 1.75; /* Adjusted line height for better readability */
}

p {
  margin-bottom: 1em; /* Add margin to paragraphs */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom container class for consistent padding */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.overlay-active {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  z-index: 40; /* Below menu, above content */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none; /* Allow clicks to pass through when hidden */
}

.overlay.active {
  opacity: 1;
  pointer-events: auto; /* Block clicks when active */
}

#main-content.blurred-content {
  filter: blur(5px); /* Adjust blur amount as needed */
  transition: filter 0.3s ease-in-out;
}




